@font-face {
    font-family: 'Rajdhani Regular';
    src: url("/files/fonts/Rajdhani/Rajdhani-Regular.ttf");
}

@font-face {
    font-family: 'Rajdhani Medium';
    src: url("/files/fonts/Rajdhani/Rajdhani-Medium.ttf");
}

body {
    user-select: none;
    font-family: 'Rajdhani Medium', sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
}

.content-wrapper {
    padding: 20px;
    display: grid;
    justify-items: center;
}

.content {
    padding: 36px;
    width: 100%;
    height: 900px;
    max-width: min(1920px, 95%);
    background-color: rgb(41, 41, 41);
}

.items-grid {
    grid-column: 2;
    grid-row: 2;
    min-width: 544px;
    padding-right: 15px;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 7px;
    align-content: flex-start;
}
.loading.items-grid {
    display: block;
    overflow-y: hidden;
    padding-right: 23px; /* 15px grid padding + 10px scroll width - 2px items border */
}
.loading .item {
    display: none;
}
#load-panel, #progress-bar {
    display:none;
}
.loading #load-panel {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #7e7e7e;
}
.loading #progress-bar {
    top: calc(50% - 10px);
    left: calc(50% - 100px);
    position: absolute;
    display: block;
    width: 200px;
    height: 20px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff10;
    background-clip: content-box;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
}

.item {
    scroll-snap-align: start;
    position: relative;
    width: 125px;
    aspect-ratio: 1;
    border: 2px solid #7e7e7e;
    &::before {
        content: "";
        width:100%;
        height:100%;
        position: absolute;
        transition: all .1s;
    }
    &:not(.target) {
        transition: all .1s;
    }
    &[quality="common"] {
        background-color: var(--common-color);
        &:not(.target):hover::before,
        &.active::before {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    &[quality="rare"] {
        background-color: var(--rare-color);
        &:not(.target):hover::before,
        &.active::before {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    &[quality="gold"] {
        background-color: var(--gold-color);
        &:not(.target):hover::before,
        &.active::before {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    &[quality="legendary"] {
        background-color: var(--legendary-color);
        &:not(.target):hover::before,
        &.active::before {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    &.filtered {
        display:none;
    }
}
/* item filters */
.items-grid.filtered {
    .item{
        display: none;
    }
    &.quality-common {
        & .item[quality="common"]:not(.filtered) {
            display: block;
        }
    }
    &.quality-rare {
        & .item[quality="rare"]:not(.filtered) {
            display: block;
        }
    }
    &.quality-gold {
        & .item[quality="gold"]:not(.filtered) {
            display: block;
        }
    }
    &.quality-legendary {
        & .item[quality="legendary"]:not(.filtered) {
            display: block;
        }
    }
}

.item-name {
    position: absolute;
    text-transform: capitalize;
    justify-items: center;
    padding: 2px 5px;
    z-index: 2;
}

.item-pic {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 5px;
}
.target .item-pic {
    width: 100%;
    padding: 10px;

}

.trade-wrapper {
    display: grid;
    height: 100%;
    column-gap: 100px;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100px auto;
    justify-content: space-between;
    align-items: start;
}

.craft-ui, .trade-ui {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.craft-text {
    width: 100%;
    text-align: center;
    padding: 20px 0 0;
    font-size: 18px;
}
.trades-list-wrapper {
    width: 750px;
    height: 350px;
    overflow-y: scroll;
    border-top: 16px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: #b6cec2;
    background-color: #24292b;
}
.trades-list, .crafts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.trades-list > .trade,
.crafts-list > .trade {
    width: 100%;
    min-height:200px;
    position: relative;
}
.trades-list .item.result {
    position: absolute;
    top: 30px;
    right: 0;
}

.ingredients-list {
    display: grid;
    margin: 30px 0 0 175px;
    grid-template-columns: 125px 125px 125px;
    gap: 10px;
}

.item.target {
    width: 200px;

    .item-name {
        font-size: 18px;
        padding: 4px 8px;
    }
}

.item > .amount,
.item > .value {
    width: min-content;
    padding: 0px 6px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.trade_panel {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.trade_panel .tab:hover {
    border-color: #FFFFFF;
}

.trade_panel.craft .craft,
.trade_panel.trade .trade {
    border-color: #FFFFFF;
}

.trade_panel.craft .trade-ui,
.trade_panel.trade .craft-ui {
    display: none;
}
.trade-footer {
    width: 750px;
    display:flex;
    height: 30px;
}
.trade-footer .trade-button {
    min-width:100px;
    background-color: #1a1a1a;
    &.disabled {
        color: transparent
    }
}
.trade-footer .tab {
    width: 100%;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #7e7e7e;
    text-align: center;
    padding: 5px 0 10px;
    transition: all .2s;
    cursor: default;
}


.trader-pic {
    width: 127px;
    height: 167px;
    background: var(--contacts-frame);
    padding: 3px;
    position: absolute;
    top: 10px;
    left: 10px;
}
/*:not([trader]) > .trader-pic {
    background: url(".files/images/contacts/Frame.png"), linear-gradient(#292e31, #1e2225), #1e1f20;
}*/

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.value {
    display: flex;
    gap: 5px;
    align-items: center;
    & .koen {
        width: 20px;
        height: 16px;
        /* aspect-ratio: 160 / 124; */
    }
}

#grid-search {
    display: flex;
    gap: 20px;
}
input#search-field {
    height: 30px;
    background-color: unset;
    border: none;
}
.checkbox{
    padding: 1px;
    position: relative;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 18px, contain;
    background-clip: content-box, border-box;
    background-image: url(), url(/files/images/icons/checkbox.png);
    &:hover {
        background-image: url(), url(/files/images/icons/checkbox-hover.png);
    }
}
.checkbox.checked {
    background-image: url(/files/images/icons/checkbox-check.png), url(/files/images/icons/checkbox.png);
    &:hover {
        background-image: url(/files/images/icons/checkbox-check.png), url(/files/images/icons/checkbox-hover.png);
    }
}

.dropdown {
    height: 20px;
    position: relative;
}
.dropdown::after {
    content: attr(sort);
}
.dropdown:not(.active) .optionsList {
    display:none;
}
.optionsList{
    z-index: 200;
    position: absolute;
    top: 100%;
    left: -50px;
    width: 200px;
    background-color: #7e7e7e;
}
.option{
    position: relative;
    width:150px;
    height:50px;
}
.sortOrderToggle {
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.tooltip {
    font-family: 'Rajdhani Regular';
    line-height: 27px;
    font-size: 20px;
    display: block;
    position: fixed;
    overflow: hidden;
    padding: 1px 10px;
    height: 27px;
    z-index: 200;
    color: #a0a9a6;
    background: linear-gradient(90deg, #575b57 0 3px, #383a38 3px calc(100% - 3px), #575b57 calc(100% - 3px) 100%),
    linear-gradient(90deg, #575b57 0 3px, #383a38 3px calc(100% - 3px), #575b57 calc(100% - 3px) 100%),
    rgb(21 21 21);
    background-size: 100% 1px, 100% 1px, 100% 100%;
    background-repeat: no-repeat;
    background-position: top, bottom;
}
/* 
edges: #575b57
bg: #151515
border: #383a38
*/

.hidden {
    display:none
}
div, img {
    box-sizing: border-box;
}